In [62]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from scipy import stats

from pylab import rcParams
from sklearn import preprocessing, metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

from sklearn.utils import resample
from sklearn.ensemble import RandomForestClassifier
# from sklearn import cross_validation
from sklearn.model_selection import (cross_val_score, cross_val_predict)

import statsmodels.api as sm
import pylab as pl

from sklearn.model_selection import RandomizedSearchCV

In [71]:
df_titanic = pd.DataFrame.from_csv('cleaned_up_training_set.csv')

In [61]:
df_titanic.head()

    Survived  Pclass       Age  SibSp  Parch  male  Q  S
0          0       3 -0.512251      1      0     1  0  1
4          0       3  0.399814      0      0     1  0  1
6          0       1  1.732832      0      0     1  0  1
7          0       3 -1.915427      3      1     1  0  1
12         0       3 -0.652568      0      0     1  0  1

In [11]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848 entries, 0 to 190
Data columns (total 8 columns):
Survived    848 non-null int64
Pclass      848 non-null int64
Age         848 non-null float64
SibSp       848 non-null int64
Parch       848 non-null int64
male        848 non-null int64
Q           848 non-null int64
S           848 non-null int64
dtypes: float64(1), int64(7)
memory usage: 59.6 KB

In [12]:
df_titanic.Survived.value_counts()

1    424
0    424
Name: Survived, dtype: int64

imbalance!

In [19]:
X = df_titanic.iloc[:, 1:].values
y = df_titanic.iloc[:, 0].values

In [17]:
# btw

import pandas as pd
 
df = pd.DataFrame({'Age': [30, 20, 22, 40, 32, 28, 39],
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black',
                             'Red'],
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese',
                            'Melon', 'Beans'],
                   'Height': [165, 70, 120, 80, 180, 172, 150],
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean',
                         'Christina', 'Cornelia'])
 
print("\n -- loc -- \n")
print(df.loc[df['Age'] < 30, ['Color', 'Height']])
 
print("\n -- iloc -- \n")
print(df.iloc[(df['Age'] < 30).values, [1, 3]])

 -- loc --

           Color  Height
Nick       Green      70
Aaron        Red     120
Christina  Black     172

 -- iloc --

           Color  Height
Nick       Green      70
Aaron        Red     120
Christina  Black     172

# get a quick model first

In [21]:
TEST_SIZE = 0.3
RANDOM_STATE = 123
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = TEST_SIZE, random_state = RANDOM_STATE)

In [33]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)
y_pred_default = clf.predict(X_test) # use 0.5 as threshold, "the highest mean probability estimate across the trees"
y_pred_prob = clf.predict_proba(X_test)
y_pred_logit_prob = clf.predict_log_proba(X_test)

print(y_pred_default[:5])
print(y_pred_prob[:5])
print(y_pred_logit_prob[:5])

[1 1 0 0 0]
[[0.19047619 0.80952381]
 [0.         1.        ]
 [1.         0.        ]
 [0.9        0.1       ]
 [1.         0.        ]]
[[-1.65822808 -0.21130909]
 [       -inf  0.        ]
 [ 0.                -inf]
 [-0.10536052 -2.30258509]
 [ 0.                -inf]]

/Users/tracyzhou/git/data-processing/venv36/lib/python3.6/site-packages/sklearn/ensemble/forest.py:628: RuntimeWarning: divide by zero encountered in log
  return np.log(proba)

In [49]:
print(metrics.classification_report(y_test, y_pred))
print('Accuracy = {:0.2f}%.'.format(metrics.accuracy_score(y_test, y_pred)*100))
print('auc', metrics.roc_auc_score(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.85      0.83      0.84       126
          1       0.83      0.86      0.85       129

avg / total       0.84      0.84      0.84       255

Accuracy = 84.31%.
auc 0.8429309708379475

In [44]:
metrics.roc_curve(y_test, y_pred)
# can use plot_roc_curve in sklearn v22 to implement

(array([0.        , 0.17460317, 1.        ]),
 array([0.        , 0.86046512, 1.        ]),
 array([2, 1, 0]))

In [43]:
y_test.shape

(255,)

In [25]:
df_feature_imp = pd.DataFrame(list(zip(df_titanic.columns[1:], clf.feature_importances_)),
                             columns = ['feature', 'importance'])
df_feature_imp.sort_values('importance', ascending = False)

  feature  importance
1     Age    0.418823
4    male    0.241313
0  Pclass    0.192907
2   SibSp    0.079925
3   Parch    0.041804
6       S    0.019082
5       Q    0.006147

In [68]:
clf.feature_importances_

array([0.15517738, 0.41363137, 0.06307258, 0.04670694, 0.29658723,
       0.00397281, 0.0208517 ])

# cv performance

In [64]:
y_all_pred_cv = cross_val_predict(clf, X, y, cv = 5)
print(classification_report(y, y_all_pred_cv))

             precision    recall  f1-score   support

          0       0.87      0.80      0.83       424
          1       0.81      0.88      0.84       424

avg / total       0.84      0.84      0.84       848

In [67]:
cross_val_score(clf, X, y, cv=5, scoring = "f1")

array([0.84745763, 0.80952381, 0.79310345, 0.89411765, 0.82222222])

# cv find the best hyperparams

In [55]:
# Number of trees in random forest
n_estimators = [i for i in range(200, 2000, 10)]
# Number of features to consider at every split
max_features = ['auto']
# Maximum number of levels in tree
max_depth = [i for i in range(10, 110, 10)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [57]:
from sklearn.model_selection import RandomizedSearchCV


rf_clf = RandomForestClassifier(random_state=RANDOM_STATE)
rf_grid = RandomizedSearchCV(estimator=rf_clf, param_distributions=random_grid,
                              n_iter = 100, scoring='f1', 
                               random_state=RANDOM_STATE, n_jobs=-1,
                              return_train_score=True)

rf_grid.fit(X_train, y_train)

print(rf_grid.best_params_)

{'n_estimators': 1160, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 10, 'bootstrap': True}

parametersssss


* score: the scoring options https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter
* cv: default 5 
* n_jobs: jobs run in parallel, default 1. -1 means using all processors

In [59]:
rf_grid.best_score_

0.8406302086479654

# bonus round: let's drop the less important features

In [80]:
df_titanic2 = df_titanic.copy()
df_titanic2.drop(['Parch', 'S', 'Q'], inplace = True, axis = 1)

In [81]:
df_titanic2.head()

    Survived  Pclass       Age  SibSp  male
0          0       3 -0.512251      1     1
4          0       3  0.399814      0     1
6          0       1  1.732832      0     1
7          0       3 -1.915427      3     1
12         0       3 -0.652568      0     1

In [82]:
X = df_titanic2.iloc[:, 1:].values
y = df_titanic2.iloc[:, 0].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = TEST_SIZE, random_state = RANDOM_STATE)

In [83]:
clf_bonus_round = RandomForestClassifier()
clf_bonus_round.fit(X_train, y_train)

y_test_pred = clf_bonus_round.predict(X_test)
print(metrics.classification_report(y_test, y_test_pred))

             precision    recall  f1-score   support

          0       0.88      0.89      0.88       126
          1       0.89      0.88      0.88       129

avg / total       0.88      0.88      0.88       255

In [84]:
df_feature_imp2 = pd.DataFrame(list(zip(df_titanic2.columns[1:], clf_bonus_round.feature_importances_)), columns = ['col', 'imp'])
df_feature_imp2.sort_values('imp', ascending = False)

      col       imp
1     Age  0.442886
3    male  0.268255
0  Pclass  0.226092
2   SibSp  0.062767

wow! higher accuracy rate