In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from scipy import stats

from pylab import rcParams
from sklearn import preprocessing, metrics
from sklearn.model_selection import train_test_split

from sklearn.utils import resample
# from sklearn import cross_validation
from sklearn.model_selection import (cross_val_score, cross_val_predict)
from sklearn.svm import SVC
import pylab as pl

from sklearn.model_selection import RandomizedSearchCV

In [3]:
df_titanic = pd.DataFrame.from_csv('cleaned_up_training_set.csv')

In [4]:
df_titanic.head()

    Survived  Pclass       Age  SibSp  Parch  male  Q  S
0          0       3 -0.512251      1      0     1  0  1
4          0       3  0.399814      0      0     1  0  1
6          0       1  1.732832      0      0     1  0  1
7          0       3 -1.915427      3      1     1  0  1
12         0       3 -0.652568      0      0     1  0  1

In [5]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848 entries, 0 to 190
Data columns (total 8 columns):
Survived    848 non-null int64
Pclass      848 non-null int64
Age         848 non-null float64
SibSp       848 non-null int64
Parch       848 non-null int64
male        848 non-null int64
Q           848 non-null int64
S           848 non-null int64
dtypes: float64(1), int64(7)
memory usage: 59.6 KB

In [6]:
X = df_titanic.iloc[:, 1:].values
y = df_titanic.iloc[:, 0].values

In [7]:
TEST_SIZE = 0.3
RANDOM_STATE = 123
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = TEST_SIZE, random_state = RANDOM_STATE)

In [8]:
clf = SVC()
clf.fit(X_train, y_train)
y_pred_test = clf.predict(X_test)

In [9]:
print(metrics.classification_report(y_test, y_pred_test))

             precision    recall  f1-score   support

          0       0.87      0.87      0.87       126
          1       0.87      0.88      0.87       129

avg / total       0.87      0.87      0.87       255

In [10]:
# cv

clf_cv = SVC()
y_pred = cross_val_predict(clf_cv, X, y)

print(metrics.classification_report(y, y_pred))

             precision    recall  f1-score   support

          0       0.81      0.86      0.84       424
          1       0.85      0.80      0.82       424

avg / total       0.83      0.83      0.83       848

In [12]:
print(cross_val_score(clf_cv, X, y, cv = 5, scoring = 'f1'))

[0.81767956 0.72483221 0.80239521 0.86956522 0.82716049]